@corDeFundo: #34495e;
@corDoTexto: #ecf0f1;
@corDoBotao: #2ecc71;
@fontePrincipal: "Funnel Display", sans-serif;
@fonteTitulo: "Merienda", cursive;

body {
    background-color: @corDeFundo;
    color: @corDoTexto;
    font-family: @fontePrincipal;
}

h1 {
    font-size: 3em;
    font-family: @fonteTitulo;
}